
body {
    background-color: aqua;
}

.cat-info {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.img-div {
    width: 500px;
    max-width: 40vw;
    margin: 0;
}

.description {
    width: 400px;
    max-width: 35vw;
}

h3 {
    margin: 0;
}

.dn {
    display: none;
}