
body {
    background-image: 
    url("../img/photo.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.cat-info {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.img-div {
    width: 500px;
    max-width: 40vw;
    margin: 0;
}

.description {
    border-radius: 20px;
    width: 400px;
    max-width: 35vw;
    background-color: rgba(238, 197, 12, 0.6);
}

h2 {
    margin: 0;
}

.dn {
    display: none;
}

.select-container {
    width: 200px;
}

img {
    border-radius: 20px;
}

p {
    font-size: 18px;
}

/* for small screens */
@media screen and (max-width: 700px) {
    
    .select-container {
        padding-top: 10px;
        min-width: 300px;
        font-size: 24px;
        }


    .description {
        min-width: 320px;
        max-width: 95%;
        width: 95%;
        margin: auto;
        margin-top: 10px;
        padding: 10px 10px;
    }

    .cat-info {
        margin-top: 20px;
        width: 95%;
        display: block;
        min-width: 320px;
    }

    .img-div {
        min-width: 100%;
    }
    
    .select-container {
        width: 200px;
        margin: auto;
    }

}