
body {
    background-image: 
    url("../img/photo.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.cat-info {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.img-div {
    width: 500px;
    max-width: 40vw;
    margin: 0;
}

.description {
    border-radius: 20px;
    width: 400px;
    max-width: 35vw;
    background-color: rgba(238, 197, 12, 0.2);
}

h2 {
    margin: 0;
}

.dn {
    display: none;
}

.select-container {
    width: 200px;
}

img {
    border-radius: 20px;
}

p {
    font-size: 18px;
}